<header>
  <nav>
    <img src="assets/img/logo.jpg" alt="Logo Tel.efunken" class="logo">
    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Iniciar Sesion</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="hero">
    <h1>{{ title }}</h1>
    <p>Descubre la diversión y estrategia del juego de cartas Telefunken</p>
    <button (click)="startNewGame()">Iniciar Nuevo Juego</button> 
  </section>

  <div class="rules-section">
    <h2>Reglas de Telefunken</h2>
    <div class="rule-cards">
      <div *ngFor="let rule of rules" class="rule-card">
        <img [src]="rule.image" alt="{{ rule.title }}" class="rule-image"/>
        <h3>{{ rule.title }}</h3>
        <p>{{ rule.description }}</p>
      </div>
    </div>
  </div>
  
  
</main>

<footer>
  <p>&copy; 2024 VargasSteven Lab2 - Plataforma Telefunken</p>
</footer>
