<div class="alerta" *ngIf="mostrarAlerta">
  {{ mensajeAlerta }}
</div>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th *ngFor="let jugador of ['Joyner', 'Nelson', 'Dario', 'Mario', 'Mateo', 'Inge']">
        <div class="jugador-header">
          {{ jugador }}
          <div class="fichas">Fichas: {{ fichasJugadores[jugador] }}</div>
          <button (click)="comprarFichas(jugador)">Comprar Ficha</button>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fila of tablaDatos; let i = index">
      <td>{{ fila['Fecha'] }}</td>
      <td *ngFor="let jugador of ['Joyner', 'Nelson', 'Dario', 'Mario', 'Mateo', 'Inge']">
        <input
          *ngIf="i !== tablaDatos.length - 1"
          type="number"
          [(ngModel)]="fila[jugador]"
          (blur)="validarEntrada($event, fila, jugador)"
          placeholder="-"
        />
        <span *ngIf="i === tablaDatos.length - 1">
          {{ totales[jugador] !== undefined ? totales[jugador] : '-' }}
        </span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>TOTAL</td>
      <td *ngFor="let jugador of ['Joyner', 'Nelson', 'Dario', 'Mario', 'Mateo', 'Inge']">
        {{ totales[jugador] !== undefined ? totales[jugador] : '-' }}
      </td>
    </tr>
  </tfoot>
</table>
